{% extends 'base.html.twig' %}

{% block title %}Modifier Matériel{% endblock %}

{% block body %}
    <div class="container pt-5">

        <div class="row">
            <div class="col-10 offset-1 text-center">
                <h1 class="font-fira text-uppercase">Modifier le produit</h1>
                <hr class="col-6">
            </div>
        </div>

        {{ dump(quantityBefore) }}
        {{ dump(materiel) }}
        </div>
    </div>
{% endblock %}
